@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  display: flex;
  height: 100vh; /* full-screen height */
  background-color: #4B5563; /* bg-gray-600 */
}

.sidebar__nav {
  background-color: #F6F7FC;
  width: 294px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 8px 16px -2px rgba(0, 0, 0, 0.2), 0 4px 8px -4px rgba(0, 0, 0, 0.2);
  border-radius: 16px; /* Corregido de 2xl a 16px */
}

.sidebar__logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem; /* mt-6 */
}

.sidebar__logo {
  width: 7rem; /* w-28 */
  margin-top: 1.5rem; /* mt-6 */
}

.sidebar__buttons {
  display: flex;
  flex-direction: column;
}

.sidebar__button {
  display: flex;
  padding: 0.75rem; /* p-3 */
  gap: 1rem; /* gap-4 */
  cursor: pointer;
  width: 100%;
}

.sidebar__button:hover,
.sidebar__button--active {
  background-color: #6429CD14;
}

.sidebar__icon {
  margin-left: 0.75rem; /* ml-3 */
}

.sidebar__footer {
  position: absolute;
  right: 0.25rem;
  bottom: 0.25rem;
  margin-bottom: 1rem; /* mb-4 */
  padding: 0.5rem; /* p-2 */
}

.sidebar__footer-button {
  display: flex;
  align-items: center;
}

.sidebar__footer-button span {
  color: #6429CD;
  font-weight: bold;
}

img.raya {
  position: absolute;
  right: -4%; /* Alinea la imagen al borde derecho del botón */
  top: 12.9%; 
 
  
}
.firstraya {
  position: absolute;
  right: -4%; /* Alinea la imagen al borde derecho del botón */
  top: 7.8%; 

  
}
.button__text, .footer__text {
  /* font-bold */
  font-weight: bold;

  /* text-[#6429CD] */
  color: #6429CD;
}

.container {
  display: flex;
  height: 100vh; /* equivalente a h-screen */
  background-color: #4B5563; /* equivalente a bg-gray-600 */
}

/* Estilo del contenido principal */
.main-content {
  flex: 1; /* equivalente a flex-1 */
  display: flex;
  align-items: center; /* equivalente a items-center */
  justify-content: center; /* equivalente a justify-center */
}

/* Estilo de los títulos dentro del contenido principal */
.main-content__title {
  font-size: 1.875rem; /* equivalente a text-3xl */
  font-weight: bold; /* equivalente a font-bold */
}